// =============================================
// Colors
// =============================================

$dark: #0f0502;
$gold: #c9a669;

// =============================================
// Typography
// =============================================

@font-face {
    font-family: 'santral-regular';
    src: url('../fonts/santral-regular.woff2') format('woff2'),
         url('../fonts/santral-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'santral-light';
    src: url('../fonts/santral-light.woff2') format('woff2'),
         url('../fonts/santral-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
